/GUIA_2/Extra1-Lista_Tareas-/nbproject/private/
/GUIA_2/Extra1-Lista_Tareas-/build/
/GUIA_2/demo/nbproject/private/
/GUIA_2/demo/build/
/GUIA_2/Extra_2-Gestion_contactos-/extra2-Gestion_Contactos-/build/
/GUIA_2/Extra_2-Gestion_contactos-/extra2-Gestion_Contactos-/nbproject/private/
/GUIA_2/jpaPrueba/target/
/GUIA_4/ejemploObrador/nbproject/private/
/GUIA_4/ejemploObrador/build/
/GUIA_4/extra2-Gestion_Contactos-/nbproject/private/
/GUIA_4/extra2-Gestion_Contactos-/build/
/GUIA_4/extra2-Gestion_Contactos-/dist/
/GUIA_4/universidadEjemplo/nbproject/private/
/GUIA_4/universidadEjemplo/build/
/GUIA_4/ConstruirSA.ej2,guia4/nbproject/private/
/GUIA_4/universidadEjemploDAO/nbproject/private/
